<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="berlin.prototype.callerid">

    <uses-permission android:name="android.permission.READ_CALL_LOG"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_SCREENING" />

    <!--
      for phones using a custom dialer app which does not implement
      contacts content provider interface
    -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <!--
          for phones using a custom dialer app which does not implement
          contacts content provider interface
        -->
        <receiver
            android:name=".CustomOverlayManager"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
          android:name="berlin.prototype.callerid.CallerIdProvider"
          android:authorities="berlin.prototype.callerid.calleridprovider"
          android:enabled="true"
          android:exported="true">
          <meta-data android:name="android.content.ContactDirectory" android:value="true" />
        </provider>

        <!-- block or allow incoming calls -->
        <service
          android:name=".CallDetectScreeningService"
          android:exported="true"
          android:permission="android.permission.BIND_SCREENING_SERVICE">
          <intent-filter>
            <action android:name="android.telecom.CallScreeningService" />
          </intent-filter>
        </service>

        <service
            android:name=".CallerForegroundService"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />

        <!-- Required to register the CustomConnectionService for CallSimulator -->
        <service android:name=".CustomConnectionService"
          android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE" android:exported="true">
          <intent-filter>
            <action android:name="android.telecom.ConnectionService" />
          </intent-filter>
        </service>

    </application>
</manifest>
